<a href="https://colab.research.google.com/github/anapaulamdb/ocean-python-2020/blob/master/aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
administrador = False #booleano
print(administrador)

False

In [ ]:
#comparação  igual == / diferente !=

comparacao_igual = (1 == 1)
print(comparacao_igual)

In [ ]:
#operadores relacionais

print(2 > 3) #False
print(3 < 4) #True
print(3 == 2) #False
print(3 != 2) #True
print(6 <= 9) #True
print(6 >= 10) #False

False
True
False
True
True
False

In [ ]:
print(1 == "1") #False

True

In [ ]:
#operadores lógicos AND e not

print(True and False)
print(not(True and False))

False
True

In [ ]:
# OR
print(True or False)
print(False or False)

True
False

#Prioridade da lógica booleana

Antes de tudo, resolver os operadores relacionais.
Somente depois os lógicos:
1. not
2. and
3. or

In [ ]:
login = "admin"
senha = "admin"

if login == "admin" and senha == "admin":
  print("Administrador conectado.")

In [ ]:
#condicionais
# if else 

admin = False

if admin == True:
  print("Acesso liberado.")
else:
  print("Acesso negado.")

Acesso negado.

In [ ]:
# elif

numero = 2

if numero > 5:
  print(f"O numero {numero} é maior que 5.")
elif numero > 0:
  print(f"O número {numero} é maior que 0 e menor ou igual a 5")
else:
  print(f"O número {numero} é menor ou igual a zero.")

O número 2 é maior que 0 e menor ou igual a 5

Escreva um programa que receba uma string digitada pelo usuario e caso seja igual a "medieval", exiba no console: "espada";
caso contrario, se a string for igual a "futurista", exiba no console: "sabre de luz";
caso contrário, exiba no console: "tente novamente".

In [ ]:
palavra = input("Qual era você prefere: medieval ou futurista?").lower()
# .strip() remove espaços vazios numa string
if palavra == "medieval": # outra opção é usar o in : if "medieval" in palavra:
  print("espada")
elif palavra == "futurista":
  print("sabre de luz")
else:
  print("tente novamente")

Qual era você prefere: medieval ou futurista?Medieval
espada

In [ ]:
# Função 
# def cria o bloco de código, depois damos um nome, os parenteses representam que é uma função e o dois pontos
# representa o início do bloco
# Tudo que estiver embaixo, com um nível de indentação a mais do que o nível da própria função, estará dentro
# desse trecho

def nome_da_funcao():
  print("Isso é uma função")

nome_da_funcao()

isso é uma função

In [ ]:
#Parâmetros 

# Dentro dos parenteses de onde estamos CRIANDO a função (junto do def), declaramos os PARÂMETROS. Aqui não temos uma informação concreta ainda.
# Já dentro dos parenteses de onde estamos CHAMANDO a função, declaramos os ARGUMENTOS. Essa é a informação concreta com que iremos trabalhar

def somar(num1, num2):     #(num1, num2) -> parâmetros
    return num1 + num2
 
resultado = somar(2, 3)                #(2, 3) -> argumentos
print(resultado)

5

In [ ]:
def teste():
  return "olá"

res = teste()
print(res)

olá

Crie uma função que receba um número como parâmetro, aplique esse número na fórmula abaixo e exiba o resultado no console:

numero² + (numero % 10)

In [ ]:
def calcularNumero(num):
  return num**2 + num % 10

resultado = resolve(20)
print(resultado)

400

In [ ]:
# extra
def somarNumeros(*numeros):
  return sum(numeros)

resultado1 = somarNumeros(1, 2, 3, 4, 5, 6)
print(resultado1)

resultado2 = somarNumeros(10, 20, 30)
print(resultado2)

21
60

Crie uma função chamada ‘custo_hotel’ que receba um parâmetro (argumento) chamado ‘noites’ e retorne o custo total do hotel, sendo que 1 noite custa R$ 140,00.

Crie uma função chamada ‘custo_aviao’ que receba o nome da cidade e retorne o custo da passagem de avião, sendo que passagem para:

*  São Paulo custa R$ 312,00;

*  Porto Alegre custa R$ 447,00;

*  Recife custa R$ 831,00;

*  Manaus custa R$ 986,00.

Crie uma função chamada ‘custo_carro’ que receba um parâmetro chamado ‘dias’. Calcule o custo do aluguel do carro sendo que:
*  A cada dia o carro custa R$ 40,00;

*  Alugando 7 dias ou +: R$ 50,00 de desconto;

*  Alugando 3 dias ou +: R$ 20,00 de desconto;

Você pode receber apenas um desconto;

Retorne o custo.