<a href="https://colab.research.google.com/github/anapaulamdb/ocean-python-2020/blob/master/aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("olá, mundo")

olá, mundo

In [ ]:
variavel_string = "texto"
variavel_int = 1
variavel_float = 1.45
variavel_bool = True

1

In [ ]:
print(variavel_int)

In [ ]:
adicao = 10 + 5
subtracao = 10 - 5
multiplicacao = 10 * 5
divisao = 10 / 5
exponenciacao = 3 ** 10
divisao_inteira = 25 // 2
print(divisao)
print(divisao_inteira)

2.0
12

In [ ]:
def exibir_numero():
    x = 10
    print(x)
exibir_numero()

10

In [ ]:
#def total(valor):
#  taxa = 0.1 * valor
#  return valor + taxa
#total(42.54)

valor = 42.54
taxa = 0.1 * valor
total= valor + taxa
print(total)

46.794

In [ ]:
print("R$ " + str(total))

R$ 46.794

In [ ]:
x = 134.567
print(f"O valor é R$ {x:.2f}") #valor float com duas casas
print(f"Número: {5:02}") # Zeros na frente

O valor é R$ 134.57
Número: 05

In [ ]:
nome = "Ana"
snome = "Paula"
print(nome +" " +snome) #concatenação

Ana Paula

In [ ]:
letra1 = nome[0]
letra2 = snome[0]
print(letra1 + letra2)

AP

In [ ]:
print(nome)
print(len(nome)) # tamanho da string / qtd de caracteres
print(nome.lower()) # Transforma o texto em minúsculo
print(nome.upper()) # Transforma o texto em maiúsculo

Ana
3
ana
ANA

In [ ]:
nome = input("Digite seu nome: ")
sobrenome = input("Digite seu sobrenome: ")

print(f"Seu nome é {nome.capitalize()} {sobrenome.capitalize()}")

Digite seu nome: ana
Digite seu sobrenome: brito
Seu nome é Ana Brito

In [ ]:
nome = input("nome: ").capitalize()
idade = int(input("idade: "))#convertendo valor para inteiro
genero = input("genero: ").capitalize()
print(f"Olá, {nome}, você possui {idade} anos de idade e é do gênero {genero}. Já pensou no que fará no seu aniversário de {idade+1} anos?")

In [ ]:
#importando bibliotecas /algumas já vem junto com o python (built-in)

from datetime import datetime as dt

agora = dt.now() # Pega a data e hora atual do sistema (atenção com o fuso horário, pq é o fuso da máquina!)

print(agora)

2020-09-28 20:53:19.939829

In [ ]:
ano = agora.year
mes = agora.month
dia = agora.day

hora = agora.hour
minuto = agora.minute
segundo = agora.second
 
print(f"{dia:02}/{mes:02}/{ano:04}")
print(f"{dia:02}/{mes:02}/{ano:04} - {hora}h{minuto}m{segundo}s")

28/09/2020
28/09/2020 - 20h53m19s